.phonebookForm {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 2px solid #000;
}
.phonebookForm * {
  margin-bottom: 20px;
}
.inputName {
  display: block;
}
.btnAddContact {
  display: flex;
  align-items: flex-start;
}
