.phonebookForm {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 2px solid #000;
}
.phonebookForm * {
  margin-bottom: 20px;
}
.inputName {
  display: block;
  padding: 8px;
  border: 4px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.btnAddContact {
  display: flex;
  align-items: flex-start;
}
